{% extends 'pages/client/base.html' %}
{% block content %}
{% load static %}
<main class="main">
    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

     
      <div class="info d-flex align-items-center">
        <div class="container">
          <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
            {% for s in titles %}
            <div class="col-lg-6 text-center">
              <h2>{{ s.title }}</h2>
              <p>{{ s.sub_title }}</p>
              <a href="#constructions" class="btn-get-started">Get Started</a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
  

      <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
        {% for s in slider %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <img src="{{ s.image.url }}" alt="">
        </div>


        <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>
        {% endfor %}

      </div>
  



    </section><!-- /Hero Section -->

  

    <!-- Constructions Section -->
    <section id="constructions" class="constructions section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2 style="color:rgb(255, 255, 255);">Unleash Your Taste Buds: Savor the Exceptional Flavor of Organically Grown Beef</h2>
        <p  style="color:rgb(255, 255, 255);">At Afriharvest Feedlot, we are committed to upholding the highest standards in beef production and take pride in producing beef that is natural, local, premium quality and truly in a league of its own. Driven by the ambition to be the market leader our cattle are raised with the utmost care and passion resulting in beef that’s bursting with natural flavors.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4 justify-content-center">
          {% for i in introduction %}
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg"><img src="{{ i.image.url }}" alt=""></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">{{ i.title }}</h4>
                    <p style="text-align: justify;">{{ i.sub_title }}</p>
                  </div>
                </div>
              </div>
            </div>
        
          </div><!-- End Card Item -->
          {% endfor %}
          
        </div>

      </div>

    </section><!-- /Constructions Section -->

    


    <!-- Alt Services Section -->
    <section id="alt-services" class="alt-services section">

      <div class="container">

        <div class="row justify-content-around gy-4">
          {% for s in story %}
          <div class="col-lg-5 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <h3>{{ s.title }}</h3>
            <p style="text-align: justify;">{{ s.sub_title }}</p>
          </div>

          <div class="features-image col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <img src="{{ s.image.url }}" alt="">
          </div>
          
       
          {% endfor %}

        </div>

      </div>

    </section><!-- /Alt Services Section -->

    


    
    <!-- Recent Blog Posts Section -->
    <section id="recent-blog-posts" class="recent-blog-posts section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>An inside look at Afriharvest Beef Farm</h2>
        </div><!-- End Section Title -->
  
        <div class="container">
  
          <div class="row gy-5">
         {% for g in gall %}
            <div class="col-xl-4 col-md-6">
              <div class="post-item position-relative h-100" data-aos="fade-up" data-aos-delay="100">
  
                <div class="post-img position-relative overflow-hidden">
                  <img src="{{ g.image.url }}" class="img-fluid" alt="">
                  <span class="post-date">{{ g.date }}</span>
                </div>
  
                <div class="post-content d-flex flex-column">
  
  
                  <hr>
  
                  <a href="#" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
  
                </div>
  
              </div>
             
            </div><!-- End post item -->
            {% endfor %}
   
  
          </div>
  
        </div>
  
      </section><!-- /Recent Blog Posts Section -->




   
    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>FAQS</h2>
        <p>Frequently asked questions from users</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 1,
                  "spaceBetween": 40
                },
                "1200": {
                  "slidesPerView": 2,
                  "spaceBetween": 20
                }
              }
            }
          </script>
          <div class="swiper-wrapper">
            {% for q in questions %}
            <div class="swiper-slide">
              <div class="testimonial-wrap">
            
                <div class="testimonial-item">
                  <img src="{% static 'assets/img/testimonials/person.jpg' %}" class="testimonial-img" alt="">
                  <h3>User</h3>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    <span>{{ q.question }}</span>
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
             
              </div>
            </div><!-- End testimonial item -->
            {% endfor %}
              

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Testimonials Section -->



  </main>
{% endblock %}