{% extends 'pages/client/base.html' %}
{% block content %}
{% load static %}
<main class="main">
    <!-- Page Title -->
    <div class="page-title dark-background">
      <div class="container position-relative">
        <h1>Our Journey</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li class="current">Our Journey</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->



    <!-- intro Section -->
    <section id="stats-counter" class="stats-counter section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Our Journey</h2>
        <p>Our commitment to quality ensures the availability of an elevated premium beef. This is the story of how we make our beef from the farm to your fork.</p>
      </div><!-- End Section Title -->

      </div>

    </section><!-- /intro Section -->





    <!-- Alt Services Section -->
    <section id="alt-services" class="alt-services section">

      <div class="container">

        <div class="row justify-content-around gy-4">
          <div class="features-image col-lg-6" data-aos="fade-up" data-aos-delay="100"><img src="{% static 'assets/img/alt-services.jpg' %}" alt=""></div>

          <div class="col-lg-5 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <h3>The Tanzanian Way</h3>
            <p style="text-align: justify;">Our commitment to raising indigenous cattle, coupled with our high standards of production, ensure our cattle are healthy, well catered for and shows the world that local Tanzanian breeds can produce high quality meat products.</p>

          
      
          </div>
        </div>

      </div>

    </section><!-- /Alt Services Section -->




     <!-- Alt Services Section -->
     <section id="alt-services" class="alt-services section">

      <div class="container">

        <div class="row justify-content-around gy-4">

          <div class="col-lg-5 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <h3>Feed and Nutrition</h3>
            <p style="text-align: justify;">We feed our cattle with our own home-grown fodder which includes the grown Rhodes grass, Napier grass and Lucerne. We grow our own grains which we use in formulating our feeds with supplementation from our neighboring local community of farmers to ensure they are fed a balanced and nutrient rich diet that meets all their needs.</p>

          
      
          </div>
          <div class="features-image col-lg-6" data-aos="fade-up" data-aos-delay="100"><img src="{% static 'assets/img/alt-services.jpg' %}" alt=""></div>

        </div>

      </div>

    </section><!-- /Alt Services Section -->




       <!-- Alt Services Section -->
       <section id="alt-services" class="alt-services section">

        <div class="container">
  
          <div class="row justify-content-around gy-4">
            <div class="features-image col-lg-6" data-aos="fade-up" data-aos-delay="100"><img src="{% static 'assets/img/alt-services.jpg' %}" alt=""></div>
  
            <div class="col-lg-5 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
              <h3>
                Automated Processes for Consistency & Efficiency
                </h3>
              <p style="text-align: justify;">We take pride in using automated processes to ensure consistency and efficiency in all our operations. From feeding to processing our feeds, our systems are designed to provide the best possible results.</p>
  
            
        
            </div>
          </div>
  
        </div>
  
      </section><!-- /Alt Services Section -->





       <!-- Alt Services Section -->
     <section id="alt-services" class="alt-services section">

      <div class="container">

        <div class="row justify-content-around gy-4">

          <div class="col-lg-5 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <h3>Professionalism at Heart</h3>
            <p style="text-align: justify;">We believe that being part of the food industry is both a privilege and a responsibility, this is why we try to be the best in all areas of production we embark in. We have both skillful trained and unskilled personnel whom we adequately train to ensure that we maintain exceptional standards of hygiene through all stages of production ensuring our clients receive fresh premium beef full of natural flavors.</p>

          
      
          </div>
          <div class="features-image col-lg-6" data-aos="fade-up" data-aos-delay="100"><img src="{% static 'assets/img/alt-services.jpg' %}" alt=""></div>

        </div>

      </div>

    </section><!-- /Alt Services Section -->




    
       <!-- Alt Services Section -->
       <section id="alt-services" class="alt-services section">

        <div class="container">
  
          <div class="row justify-content-around gy-4">
            <div class="features-image col-lg-6" data-aos="fade-up" data-aos-delay="100"><img src="{% static 'assets/img/alt-services.jpg' %}" alt=""></div>
  
            <div class="col-lg-5 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
              <h3>Come Visit Us & Experience Quality Beef Raised with Care</h3>
              <p style="text-align: justify;">Afriharvest Beef has invested in acquiring and utilizing knowledge, mechanization, and sustainable farming to ensure that final products that lands on your plate is fresh, tender, marble, juicy and bursting with natural flavors. We intend to redefine beef farming, and now, beef is Afriharvest Beef.</p>
  
            
        
            </div>
          </div>
  
        </div>
  
      </section><!-- /Alt Services Section -->
  </main>
{% endblock %}