{% extends 'pages/client/base.html' %}
{% block content %}
{% load static %}
<main class="main">
    <!-- Page Title -->
    <div class="page-title dark-background">
      <div class="container position-relative">
        <h1>Our Journey</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li class="current">Our Journey</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->



    <!-- intro Section -->
    <!-- <section id="stats-counter" class="stats-counter section"> -->

      <!-- Section Title -->
      <!-- <div class="container section-title" data-aos="fade-up">
        <h2>Our Journey</h2>
        <p>Our commitment to quality ensures the availability of an elevated premium beef. This is the story of how we make our beef from the farm to your fork.</p>
      </div>End Section Title -->

      <!-- </div> -->

    <!-- </section>intro Section -->





<!-- Alt Services Section -->
<section id="alt-services" class="alt-services story_two section">
  <div class="container">
    <div class="row justify-content-around gy-4">
      <div class="features-image col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <img src="{% static 'assets/img/feed.jpg' %}" style="border-radius:10px;" alt="">
      </div>

      <div class="col-lg-5 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
        <h3>PREMIUM BEEF STARTS AT OUR FARM</h3>
        <h4>The Feedlot</h4>
        <p style="text-align: justify;">
          Afriharvest feedlot, a quality driven supplier of cattle bound for slaughter with premium, fresh and marbled beef in the central corridor of Tanzania, sources its cattle directly from its farms in the semiarid region of Dodoma and the Southern Highlands region as well as in its robust network of livestock farmers and throughout livestock auctions in the central corridor. This authentic Tanzanian brand ensures the quality of its beef through a meticulous selection of local indigenous cattle specifically the Boran and Zebu breeds, which are known for their high adaptability, resilience to climatic conditions and quality.
          <br>
          Cattle are quarantined for 30 days and dewormed and special feed formulations are carefully designed for them by nutritionists which promotes healthy growth, focusing on converting feed into beef with marbling and flavor properties. A veterinarian and feedlot manager oversee the health and welfare of the animals, ensuring they have a comfortable habitat. The harvest process is carried out in accordance with ethical procedures, ensuring humane treatment at all times.
        </p>

        <br>

        <div class="row" style="margin-bottom: 15px;">
          <div class="col-md-6" style="display: flex; align-items: center;">
            <i class="fas fa-drumstick-bite"></i> Grain-Fed
          </div>
          <div class="col-md-6" style="display: flex; align-items: center;">
            <i class="fas fa-seedling"></i> Ethically-Grown
          </div>
        </div>
        
        <div class="row" style="margin-bottom: 15px;">
          <div class="col-md-6" style="display: flex; align-items: center;">
            <i class="fas fa-prescription-bottle-alt"></i> No Preservatives
          </div>
          <div class="col-md-6" style="display: flex; align-items: center;">
            <i class="fas fa-leaf"></i> Farm-to-Fork Traceability
          </div>
        </div>

      </div>
    </div>
  </div>
</section><!-- /Alt Services Section -->




     <!-- Alt Services Section -->
     <section id="alt-services" class="alt-services story_one section">

      <div class="container">

        <div class="row justify-content-around gy-4">

          <div class="col-lg-5 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <h3>The Farm</h3>
            <h4>PRODUCTION</h4>
            <p style="text-align: justify;">The farm prides itself in producing its own food for its cattle which includes growing maize and sorghum as its chief grains for feed formulation as well as sunflower seeds which are used in obtaining sunflower seed cake which is an essential protein source used in fattening of cattle. The farm also grows animal fodder such as the Napier grass and Rhodes grass which are an essential fiber-rich sources in the animal feeds.</p>
            
            <br>
            <h4>PROCESSING</h4>
            <p style="text-align: justify;">The farm processes its own feed formulations which are then used to feed the cattle in the feedlot. The maize and sorghum form essential carbohydrates that are required as an energy source for fattening cattle while the sunflower seed cake forms essential proteins that are required as building blocks for the animals. The processed animal formulations are then carefully fed in the right increasing rations to the cattle in the feedlot.</p>

            <br>
            <h4>SUSTAINABILITY</h4>
            <p style="text-align: justify;">We leave no part unused, the manure that is obtained and left in the feedlot is then brought back to the farm fields where it is used as fertilizer to the maize, sorghum and sunflower ensuring that nothing goes to waste. Afriharvest Feedlot prides itself on maintaining sustainable practices at every step, delivering a consistent and ethical product to our exclusive clients.</p>
            
          <br>

        <div class="row" style="margin-bottom: 15px;">
          <div class="col-md-6" style="display: flex; align-items: center;">
            <i class="fas fa-drumstick-bite"></i>Premium quality Beef
          </div>
          <div class="col-md-6" style="display: flex; align-items: center;">
            <i class="fas fa-seedling"></i>Quality Feeds
          </div>
        </div>
        
        <div class="row" style="margin-bottom: 15px;">
          <div class="col-md-6" style="display: flex; align-items: center;">
            <i class="fas fa-prescription-bottle-alt"></i>Prime Cuts
          </div>
          <div class="col-md-6" style="display: flex; align-items: center;">
            <i class="fas fa-leaf"></i>Hygiene and Sustainability
          </div>
        </div>

      
          </div>
          <div class="features-image col-lg-6" data-aos="fade-up" data-aos-delay="100"><img src="{% static 'assets/img/farm.jpg' %}" style="border-radius:10px;" alt=""></div>

        </div>

      </div>

    </section><!-- /Alt Services Section -->




       <!-- Alt Services Section -->
       <section id="alt-services" class="alt-services story_three section">

        <div class="container">
  
          <div class="row justify-content-around gy-4">
            <div class="features-image col-lg-6" data-aos="fade-up" data-aos-delay="100"><img src="{% static 'assets/img/outlet.jpg' %}" style="border-radius:10px;" alt=""></div>
  
            <div class="col-lg-5 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
              <h3>
                FROM OUR FARM TO YOUR KITCHEN
                </h3>
                <h4>The Outlet</h4>
              <p style="text-align: justify;">Afriharvest Feedlot cattle are sold to urban abattoirs and butchers who are in the market for premium grade cattle. The abattoirs guarantees a continuous provision of expertly marbled, flavored and fresh premium beef.
               <br>
                Each cow is meticulously chosen to embody the essence of beef excellence, delivering unrivalled tenderness and flavor in beef after slaughter. Whether you are grilling, barbecuing, or preparing a gourmet masterpiece, trust Afriharvest Feedlot to give you the best beef to elevate your culinary endeavors.
                <br>
                Step into our feedlot today and immerse yourself in the art of turning forage into beef and the exquisite taste that comes with it of the locally sourced, carefully crafted Afriharvest Beef.
                </p>
  
                <div class="row" style="margin-bottom: 15px;">
                  <div class="col-md-6" style="display: flex; align-items: center;">
                    <i class="fas fa-drumstick-bite"></i>High-Quality Beef
                  </div>
                  <div class="col-md-6" style="display: flex; align-items: center;">
                    <i class="fas fa-seedling"></i>Expertly Produced
                  </div>
                </div>
                
                <div class="row" style="margin-bottom: 15px;">
                  <div class="col-md-6" style="display: flex; align-items: center;">
                    <i class="fas fa-prescription-bottle-alt"></i>Tender & Flavorful
                  </div>
                  
                </div>
              

        
            </div>
          </div>
  
        </div>
  
      </section><!-- /Alt Services Section -->





       <!-- Alt Services Section -->
     <section id="alt-services" class="alt-services section">

      <div class="container">

        <div class="row justify-content-around gy-4">

          <div class="col-lg-5 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <h3>ECO-FRIENDLY BEEF FARMING</h3>
            <h4>Environmental & Community Impact</h4>
            <p style="text-align: justify;">.At Afriharvest Feedlot, sustainability is fundamental. Our commitment to environmental responsibility and community welfare is paramount and aims to set the standard for sustainable beef farming in Tanzania. We prioritize eco-friendly practices, including organic farming without additives or harmful chemicals. Our farming methods involve cultivating fodder crops and grains for a healthy, natural cattle diet.
            
              <br>
              We harness solar power to reduce our carbon footprint and practice agroforestry to maintain a green environment, promoting biodiversity and soil health. We have established water reservoirs and provide water to local communities. By employing local labor and minimizing mechanization, we empower the local workforce and reduce the use of farm tools.
              
              <br>

              Throughout production, we ensure maximum utilization of every part, minimizing beef production waste. In conclusion, Afriharvest Feedlot is dedicated to maintaining sustainable practices across all aspects of our operations.
              </p>

          
      
          </div>
          <div class="features-image col-lg-6" data-aos="fade-up" data-aos-delay="100"><img src="{% static 'assets/img/farming.jpg' %}" alt=""></div>

        </div>

      </div>

    </section><!-- /Alt Services Section -->




    
       <!-- Alt Services Section -->
       <section id="alt-services" class="alt-services section">

        <div class="container">
  
          <div class="row justify-content-around gy-4">
            <div class="features-image col-lg-6" data-aos="fade-up" data-aos-delay="100"><img src="{% static 'assets/img/visit.jpg' %}" alt=""></div>
  
            <div class="col-lg-5 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
              <h3>Come Visit Us & Experience Quality Beef Raised with Care</h3>
              <p style="text-align: justify;">Afriharvest Beef has invested in acquiring and utilizing knowledge, mechanization, and sustainable farming to ensure that final products that lands on your plate is fresh, tender, marble, juicy and bursting with natural flavors. We intend to redefine beef farming, and now, beef is Afriharvest Beef.</p>
  
            
        
            </div>
          </div>
  
        </div>
  
      </section><!-- /Alt Services Section -->




             <!-- Alt Services Section -->
     <section id="alt-services" class="alt-services section">

      <div class="container">

        <div class="row justify-content-around gy-4">

          <div class="col-lg-5 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <h3>The Tanzanian Way</h3>

            <p style="text-align: justify;">Our commitment to raising indigenous cattle, coupled with our high standards of production, ensure our cattle are healthy, well catered for and shows the world that local Tanzanian breeds can produce high quality meat products.
              </p>

          
      
          </div>
          <div class="features-image col-lg-6" data-aos="fade-up" data-aos-delay="100"><img src="{% static 'assets/img/tz.jpg' %}" alt=""></div>

        </div>

      </div>

    </section><!-- /Alt Services Section -->






      <!-- Alt Services Section -->
      <section id="alt-services" class="alt-services section">

        <div class="container">
  
          <div class="row justify-content-around gy-4">
            <div class="features-image col-lg-6" data-aos="fade-up" data-aos-delay="100"><img src="{% static 'assets/img/nut.jpg' %}" alt=""></div>
  
            <div class="col-lg-5 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
              <h3>Feed and Nutrition</h3>
              <p style="text-align: justify;">We feed our cattle with our own home-grown fodder which includes the grown Rhodes grass, Napier grass and Lucerne. We grow our own grains which we use in formulating our feeds with supplementation from our neighboring local community of farmers to ensure they are fed a balanced and nutrient rich diet that meets all their needs.</p>
  
            
        
            </div>
          </div>
  
        </div>
  
      </section><!-- /Alt Services Section -->

      


      
             <!-- Alt Services Section -->
     <section id="alt-services" class="alt-services section">

      <div class="container">

        <div class="row justify-content-around gy-4">

          <div class="col-lg-5 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <h3>Automated Processes for Consistency & Efficiency</h3>

            <p style="text-align: justify;">We take pride in using automated processes to ensure consistency and efficiency in all our operations. From feeding to processing our feeds, our systems are designed to provide the best possible results.</p>

          
      
          </div>
          <div class="features-image col-lg-6" data-aos="fade-up" data-aos-delay="100"><img src="{% static 'assets/img/auto.jpg' %}" alt=""></div>

        </div>

      </div>

    </section><!-- /Alt Services Section -->




     <!-- Alt Services Section -->
     <section id="alt-services" class="alt-services section">

      <div class="container">

        <div class="row justify-content-around gy-4">
          <div class="features-image col-lg-6" data-aos="fade-up" data-aos-delay="100"><img src="{% static 'assets/img/pro.jpg' %}" alt=""></div>

          <div class="col-lg-5 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <h3>Professionalism at Heart</h3>
            <p style="text-align: justify;">We believe that being part of the food industry is both a privilege and a responsibility, this is why we try to be the best in all areas of production we embark in. We have both skillful trained and unskilled personnel whom we adequately train to ensure that we maintain exceptional standards of hygiene through all stages of production ensuring our clients receive fresh premium beef full of natural flavors.</p>

          
      
          </div>
        </div>

      </div>

    </section><!-- /Alt Services Section -->
  </main>
{% endblock %}